In [1]:
import numpy as np
import pandas as pd
from tensorflow.keras.models import load_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler
import pickle
import streamlit as st

WARNING:tensorflow:From c:\Users\nambu\anaconda3\envs\venv4\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
#Load ann model
model=load_model('my_model.h5')
#load encoder and scaler
with open('le.pkl','rb') as file:
    le=pickle.load(file)
    
with open('he.pkl','rb') as file:
    he=pickle.load(file)
    
with open('sc.pkl','rb') as file:
    sc=pickle.load(file)

WARNING:tensorflow:From c:\Users\nambu\anaconda3\envs\venv4\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [9]:
# Convert dict to DataFrame
input_df = pd.DataFrame([input_data])

# One-hot encode Geography
geo = he.transform(input_df[['Geography']])

# Put encoded values into DataFrame
geo_df = pd.DataFrame(geo, columns=he.get_feature_names_out(['Geography']))

In [10]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [11]:
## Encode categorical variables
input_df['Gender']=le.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [12]:
## concatination one hot encoded 
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1,0,0

In [13]:
## Scaling the input data
input_scaled=sc.transform(input_df)
input_scaled

array([[-0.52395134,  0.91188197,  0.10313201, -0.69626342, -0.26454708,
         0.80799284,  0.64638613,  0.97018378, -0.87105897,  0.99639927,
        -0.57858442, -0.57333924]])

In [14]:
## PRedict churn
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 333ms/step

array([[0.03225186]], dtype=float32)

In [15]:
prediction_proba = prediction[0][0]